.card{
    display: flex;
    flex-flow: row;
    background: rgb(66, 66, 66);
    border: 3px solid transparent;
    border-radius: 2px;
    padding: 1%;
    max-width: 850px;
    max-height: 200px;
    margin: auto;
    margin-top: 8%;
    margin-bottom: -6%;
    transform: scale3d(1, 1, 1);
    transition: transform .5s ease-in-out, border .5s ease-in-out;
}
.active{
    border: 3px solid rgb(15, 78, 114);
    transform: scale3d(1.01, 1.01, 1.01);
    transition: transform .5s ease-in-out, border .5s ease-in-out;
}
.card>img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    margin-right: 2%; 
}
.desc{
    width: 40%;
    height: auto;
    color: white;
}
.desc>h4{
    color: rgb(197, 197, 197);
}
.price {
    width: 30%;
    color: white;
}
.dollar {
    padding: 4%;
    color: yellowgreen;
}
